<pre>
                             <span class="blue">_</span>
                            <span class="blue">| |</span>
 <span class="red">_ __ ___</span>   <span class="orrange">___</span>  <span class="yellow">_ __</span>   <span class="greeen">___</span> <span class="blue">| | __</span> <span class="purple">___</span>
<span class="red">| '_ ` _ \</span> <span class="orrange">/ _ \</span><span class="yellow">| '_ \</span> <span class="greeen">/ _ \</span><span class="blue">| |/ /</span><span class="purple">/ _ \</span>
<span class="red">| | | | | |</span><span class="orrange"> (_) </span><span class="yellow">| | | |</span><span class="greeen"> (_) </span><span class="blue">|   < </span><span class="purple"> (_) </span>
<span class="red">|_| |_| |_|</span><span class="orrange">\___/</span><span class="yellow">|_| |_|</span><span class="greeen">\___/</span><span class="blue">|_|\_\</span><span class="purple">\___/</span>
<span class="gray">Vagabond hacktivist</span>
</pre>
<br>
<h2 id="who-am-i">🏳️‍🌈 Who am I ?</h2>
<p>Hi! I&rsquo;m monoko, a vagabond human rights and environmental activist.
I use the pronuns &ldquo;she/her&rdquo; and &ldquo;they/them&rdquo;, &ldquo;elle&rdquo; and &ldquo;iel&rdquo; in French, &ldquo;Hon&rdquo; and &ldquo;Hen&rdquo; in Swedish.</p>
<p>I mainly write my programs in Go, Javascript and Python and I&rsquo;m really interested by rust <em>but it&rsquo;s difficul</em> 😅
I also have a lot of skills in networking and security.</p>
<p>I&rsquo;m currently traveling all around the world to understand more our society but also to meet the people affected by the current crisis and the people fighting for their freedom, for their future.</p>

<h2 id="what-are-my-values">🏴 What are my values ?</h2>
<p>I think that the current society is toxic and dangerous for us, for the life on earth, it force us to not be ourselves, to be hypocrit, it don&rsquo;t give us the choice to choose another way to live, it makes us sick, having burnout, it have the control on what we think, our dreams are conditioned by it, we want more, we want this new iPhone, we want this life, we want to be like this person on instagram, this person who is suffering because of this society, but who show only a false but beautiful life.</p>
<p>I&rsquo;m born in a lower/middle class family, where I always saw my parents traped in the system, working in a job they don&rsquo;t like, having no dreams, being sad, repeating the sames moves without thinking without being able to leave, to quit and I&rsquo;m afraid of this, afraid of being like them.</p>
<p>So as you might see, I don&rsquo;t really like the current society, I&rsquo;m trying to be as far as possible from it, I&rsquo;m trying to change it and my dream, is to live in a world where we are really ourselves, without systemic oppressions, where we respect each others, where hapiness is more important than money and where money have been replaced by solidarity and multual aid, I dream a world where we reconnect with nature, where people have the choice of their life. This is an utopia of course, but the future I want trend to this.</p>
<p>Most of the people I know say that I&rsquo;m anarchists, well if you want to put a post-it on my forehead whith written what I am, let&rsquo;s say that I&rsquo;m anarchist but know that my core values are Respect and Solidarity, these are the one that makes me who I am.</p>

<h2 id="how-do-you-live">🌱 How do you live ?</h2>
<p>For traveling I&rsquo;m hitchhiking or taking train and bus when it&rsquo;s not too expensive, and freight train surfing when needed/possible.
For accomodation I find solutions, sometimes I live in friend&rsquo;s places, sometimes I do woofing, sometimes I just live outside in a tent.</p>

<h2 id="how-can-i-help">❤️ How can I help ?</h2>
<p>As I said in the part about my values, I try to stay as far as possible of the system, but basically it&rsquo;s impossible to fully live outside of it and it&rsquo;s already a very big priviledge for me to have the life I have. So yes, I still need some money for buying my food/paying public transports tickets, actually I&rsquo;m living with about 5/10€ a week.</p>
<p>So if you like my story and what I&rsquo;m doing, and only if you really want and can help, you can make a donation there:
<li>flattr: <a href="https://flattr.com/@monoko">https://flattr.com/@monoko</a></p></li>

<p>Thank you very much!</p>
